<div class="flex flex-col flex-auto min-w-0">
    <div class="w-full max-w-80 sm:w-80 mx-auto">
        <!-- Logo -->
        <div class="max-w-80 sm:w-80 mx-auto flex justify-center items-center">
            <img
                src="assets/images/logo/Coat_of_arms_of_Tunisia.svg.png"
                width="10"
                height="10"
                style="max-width: 30%; height: auto"
            />
        </div>

        <!-- Title -->
        <div class="mt-8 text-4xl font-extrabold tracking-tight leading-tight">
            Sign in
        </div>
        <div class="flex items-baseline mt-0.5 font-medium">
            <div>Don't have an account?</div>
            <a
                class="ml-1 text-primary-500 hover:underline"
                [routerLink]="['/sign-up']"
                >Sign up
            </a>
        </div>

        <!-- Alert -->
        <!-- <fuse-alert
            class="mt-8"
            [appearance]="'outline'"
            [showIcon]="false"
            [type]="'info'"
        >
            You are browsing <strong>Fuse Demo</strong>. Click on the "Sign in"
            button to access the Demo and Documentation.
        </fuse-alert> -->

        <!-- Alert -->
        <fuse-alert
            class="mt-8"
            *ngIf="showAlert"
            [appearance]="'outline'"
            [showIcon]="false"
            [type]="alert.type"
            [@shake]="alert.type === 'error'"
        >
            {{ alert.message }}
        </fuse-alert>

        <!-- Sign in form -->
        <form class="mt-8" [formGroup]="signInForm" #signInNgForm="ngForm">
            <!-- Email field -->
            <mat-form-field class="w-full">
                <mat-label>User name</mat-label>
                <input id="userName" matInput [formControlName]="'userName'" />
                <mat-error
                    *ngIf="signInForm.get('userName').hasError('required')"
                >
                    User name is required
                </mat-error>
            </mat-form-field>

            <!-- Password field -->
            <mat-form-field class="w-full">
                <mat-label>Password</mat-label>
                <input
                    id="userPassword"
                    matInput
                    type="password"
                    [formControlName]="'userPassword'"
                    #passwordField
                />
                <button
                    mat-icon-button
                    type="button"
                    (click)="
                        passwordField.type === 'password'
                            ? (passwordField.type = 'text')
                            : (passwordField.type = 'password')
                    "
                    matSuffix
                >
                    <mat-icon
                        class="icon-size-5"
                        *ngIf="passwordField.type === 'password'"
                    ></mat-icon>
                    <mat-icon
                        class="icon-size-5"
                        *ngIf="passwordField.type === 'text'"
                    ></mat-icon>
                </button>
                <mat-error> Password is required </mat-error>
            </mat-form-field>

            <!-- Actions -->
            <div class="inline-flex items-center justify-between w-full mt-1.5">
                <a
                    class="text-md font-medium text-primary-500 hover:underline"
                    [routerLink]="['/forgot-password']"
                    >Forgot password?
                </a>
            </div>

            <!-- Submit button -->
            <button
                class="fuse-mat-button-large w-full mt-6"
                mat-flat-button
                [color]="'primary'"
                [disabled]="
                    signInForm.invalid ||
                    (signInForm.pristine && !signInForm.touched)
                "
                (click)="signIn()"
            >
                <span *ngIf="!signInForm.disabled"> Sign in </span>
                <mat-progress-spinner
                    *ngIf="signInForm.disabled"
                    [diameter]="24"
                    [mode]="'indeterminate'"
                ></mat-progress-spinner>
            </button>

            <!-- Single sign-on buttons -->
        </form>
    </div>
</div>
