<div class="flex flex-col flex-auto w-full">
    <mat-form-field class="flex items-center justify-between w-full">
        <input
            matInput
            (keyup)="applyFilter($event.target.value)"
            placeholder="Search etablissement"
        />
    </mat-form-field>

    <mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header
                >Name</mat-header-cell
            >
            <mat-cell *matCellDef="let etablissement">{{
                etablissement.name
            }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="city">
            <mat-header-cell *matHeaderCellDef mat-sort-header
                >Cité</mat-header-cell
            >
            <mat-cell *matCellDef="let etablissement">{{
                etablissement.city
            }}</mat-cell>
        </ng-container>


        <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef>Etablissements</mat-header-cell>
            <mat-cell *matCellDef="let etablissement">
                <button mat-icon-button (click)="openEtablissementDetails(etablissement)">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button (click)="deleteEtablissement(etablissement)">
                    <mat-icon>delete</mat-icon>
                </button>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
    <mat-paginator
        #paginator
        [pageSizeOptions]="[2, 10, 25]"
        showFirstLastButtons
    ></mat-paginator>
    <div class="add-button-container">
        <button
            mat-raised-button
            color="primary"
            (click)="openEtablissementDetails(null)"
        >
            Ajout etablissement
        </button>
    </div>
</div>
